In [1]:
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
d_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
df = pd.read_csv('data.csv', parse_dates=['date'], date_parser=d_parser)

<ipython-input-3-1ceb3ed007a1>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  d_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

In [4]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [5]:
df.loc[0,'date'].day_name()

'Monday'

In [6]:
df.shape

(89466, 59)

In [7]:
df.loc[0,'date']

Timestamp('2020-02-24 00:00:00')

In [8]:
df['date']

0       2020-02-24
1       2020-02-25
2       2020-02-26
3       2020-02-27
4       2020-02-28
           ...
89461   2021-05-11
89462   2021-05-12
89463   2021-05-13
89464   2021-05-14
89465   2021-05-15
Name: date, Length: 89466, dtype: datetime64[ns]

In [9]:
df['date'].dt.month_name()

0        February
1        February
2        February
3        February
4        February
           ...
89461         May
89462         May
89463         May
89464         May
89465         May
Name: date, Length: 89466, dtype: object

In [10]:
df['month_name']=df['date'].dt.month_name()

In [11]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'month_name'],
      dtype='object')

In [12]:
df['location']

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
89461       Zimbabwe
89462       Zimbabwe
89463       Zimbabwe
89464       Zimbabwe
89465       Zimbabwe
Name: location, Length: 89466, dtype: object

In [13]:
ro=df[df.location =='Romania']

In [14]:
isr=df[df.location=='Israel']

In [15]:
isr

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,month_name
39797,ISR,Asia,Israel,2020-02-20,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,February
39798,ISR,Asia,Israel,2020-02-21,1.0,1.0,NaN,NaN,NaN,NaN,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,February
39799,ISR,Asia,Israel,2020-02-22,1.0,0.0,NaN,NaN,NaN,NaN,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,February
39800,ISR,Asia,Israel,2020-02-23,1.0,0.0,NaN,NaN,NaN,NaN,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,February
39801,ISR,Asia,Israel,2020-02-24,1.0,0.0,NaN,NaN,NaN,NaN,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40243,ISR,Asia,Israel,2021-05-11,839000.0,43.0,43.286,6378.0,0.0,1.286,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,May
40244,ISR,Asia,Israel,2021-05-12,839030.0,30.0,37.571,6379.0,1.0,1.286,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,May
40245,ISR,Asia,Israel,2021-05-13,839059.0,29.0,33.000,6379.0,0.0,0.714,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,May
40246,ISR,Asia,Israel,2021-05-14,839079.0,20.0,31.571,6380.0,1.0,0.714,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,May
40247,ISR,Asia,Israel,2021-05-15,839118.0,39.0,33.143,6381.0,1.0,0.714,...,0.5,93.32,6.74,15.4,35.4,NaN,2.99,82.97,0.919,May

In [16]:
ro

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,month_name
65960,ROU,Europe,Romania,2020-02-26,1.0,1.0,NaN,NaN,NaN,NaN,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,February
65961,ROU,Europe,Romania,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,February
65962,ROU,Europe,Romania,2020-02-28,3.0,2.0,NaN,NaN,NaN,NaN,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,February
65963,ROU,Europe,Romania,2020-02-29,3.0,0.0,NaN,NaN,NaN,NaN,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,February
65964,ROU,Europe,Romania,2020-03-01,3.0,0.0,NaN,NaN,NaN,NaN,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,March
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66400,ROU,Europe,Romania,2021-05-11,1067887.0,1156.0,1222.286,29135.0,101.0,94.429,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May
66401,ROU,Europe,Romania,2021-05-12,1068817.0,930.0,1131.714,29233.0,98.0,88.143,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May
66402,ROU,Europe,Romania,2021-05-13,1069770.0,953.0,1034.714,29308.0,75.0,85.429,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May
66403,ROU,Europe,Romania,2021-05-14,1070605.0,835.0,950.857,29413.0,105.0,87.714,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May
66404,ROU,Europe,Romania,2021-05-15,1071334.0,729.0,868.571,29485.0,72.0,83.143,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May

In [17]:
ro_cases=ro['total_cases']

In [18]:
ro_cases

65960          1.0
65961          1.0
65962          3.0
65963          3.0
65964          3.0
           ...
66400    1067887.0
66401    1068817.0
66402    1069770.0
66403    1070605.0
66404    1071334.0
Name: total_cases, Length: 445, dtype: float64

In [19]:
df['date']

0       2020-02-24
1       2020-02-25
2       2020-02-26
3       2020-02-27
4       2020-02-28
           ...
89461   2021-05-11
89462   2021-05-12
89463   2021-05-13
89464   2021-05-14
89465   2021-05-15
Name: date, Length: 89466, dtype: datetime64[ns]

In [20]:
%matplotlib inline

In [21]:
from datetime import datetime
from matplotlib.dates import date2num

In [22]:
import seaborn as sns

In [23]:
%matplotlib qt

In [24]:
plt.plot(isr.date,isr.new_cases_smoothed)


#plt.axvspan(date2num(datetime(2021,3,15)), date2num(datetime(2021,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,3,15)), date2num(datetime(2020,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,11,5)), date2num(datetime(2020,12,5)), label="Lockdown",color="lightblue", alpha=0.3)
plt.legend(['Infectari noi'])
plt.title('Date zilnice')
plt.xlabel('Lună')
plt.ylabel('Număr')
sns.set_theme()


plt.tight_layout()
plt.show()
sns.set(rc={'figure.figsize':(10.7,6.27)})

In [25]:


plt.plot(ro.date,ro.total_cases/10**6)
plt.plot(ro.date,ro.people_fully_vaccinated/10**6)


#plt.axvspan(date2num(datetime(2021,3,15)), date2num(datetime(2021,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,3,15)), date2num(datetime(2020,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,11,5)), date2num(datetime(2020,12,5)), label="Lockdown",color="lightblue", alpha=0.3)
plt.legend(['Infectari noi','Numarul oamenilor imunizati'])
plt.title('Date zilnice')
plt.xlabel('Lună')
plt.ylabel('Număr de oameni (milioane)')
sns.set_theme()


plt.tight_layout()
plt.show()
sns.set(rc={'figure.figsize':(10.7,6.27)})

In [26]:
v1 =ro[
    (ro['date'] >= datetime(2020,3,15)) & 
    (ro['date'] <= datetime(2020,5,15))
]

In [27]:

plt.plot(v1.date,v1.new_cases_smoothed)

plt.axvspan(date2num(datetime(2020,3,24)), date2num(datetime(2020,4,7)), label="2w",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,3,15)), date2num(datetime(2020,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,11,5)), date2num(datetime(2020,12,5)), label="Lockdown",color="lightblue", alpha=0.3)
plt.legend(['Infectari noi'])
plt.title('Valul 1')
plt.xlabel('Data')
plt.ylabel('Număr')
sns.set_theme()
#pe 24 martie au fost introduse cele mai dure masuri
#valul1

plt.tight_layout()
plt.show()
sns.set(rc={'figure.figsize':(10.7,6.27)})

In [28]:
v2 =ro[
    (ro['date'] >= datetime(2020,10,1)) & 
    (ro['date'] <= datetime(2021,1,1))
]

In [29]:
plt.plot(v2.date,v2.new_cases_smoothed)

plt.axvspan(date2num(datetime(2020,11,5)), date2num(datetime(2020,11,19)), label="2w",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,3,15)), date2num(datetime(2020,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,11,5)), date2num(datetime(2020,12,5)), label="Lockdown",color="lightblue", alpha=0.3)
plt.legend(['Infectari noi'])
plt.title('Valul 2')
plt.xlabel('Data')
plt.ylabel('Număr')
sns.set_theme()
#pe 5 noiembrie au fost introduse cele mai dure masuri
#valul2

plt.tight_layout()
plt.show()
sns.set(rc={'figure.figsize':(10.7,6.27)})

In [30]:
v3 =ro[
    (ro['date'] >= datetime(2021,2,15)) & 
    (ro['date'] <= datetime(2021,5,1))
]

In [31]:
 plt.plot(v3.date,v3.new_cases_smoothed)

plt.axvspan(date2num(datetime(2021,3,15)), date2num(datetime(2021,3,29)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,3,15)), date2num(datetime(2020,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,11,5)), date2num(datetime(2020,12,5)), label="Lockdown",color="lightblue", alpha=0.3)
plt.legend(['Infectari noi'])
plt.title('Valul 3')
plt.xlabel('Lună')
plt.ylabel('Număr')
sns.set_theme()
#pe 15 martie au fost introduse restrictii

plt.tight_layout()
plt.show()
sns.set(rc={'figure.figsize':(10.7,6.27)})

In [32]:
import numpy

In [33]:
v1

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,month_name
65978,ROU,Europe,Romania,2020-03-15,131.0,8.0,16.571,NaN,NaN,0.000,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,March
65979,ROU,Europe,Romania,2020-03-16,158.0,27.0,20.429,NaN,NaN,0.000,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,March
65980,ROU,Europe,Romania,2020-03-17,184.0,26.0,22.714,NaN,NaN,0.000,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,March
65981,ROU,Europe,Romania,2020-03-18,260.0,76.0,30.714,NaN,NaN,0.000,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,March
65982,ROU,Europe,Romania,2020-03-19,277.0,17.0,32.571,NaN,NaN,0.000,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,March
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66035,ROU,Europe,Romania,2020-05-11,15588.0,226.0,296.571,982.0,21.0,23.429,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May
66036,ROU,Europe,Romania,2020-05-12,15778.0,190.0,277.286,1002.0,20.0,23.000,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May
66037,ROU,Europe,Romania,2020-05-13,16002.0,224.0,270.714,1036.0,34.0,24.571,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May
66038,ROU,Europe,Romania,2020-05-14,16247.0,245.0,249.714,1053.0,17.0,23.571,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May
66039,ROU,Europe,Romania,2020-05-15,16437.0,190.0,232.286,1070.0,17.0,21.000,...,5.7,370.946,9.74,22.9,37.1,NaN,6.892,76.05,0.828,May

In [34]:
numpy.cov(df.total_cases,df.total_deaths)

array([[nan, nan],
       [nan, nan]])

In [35]:
numpy.cov(ro.total_cases,ro.total_cases)

array([[1.40174293e+11, 1.40174293e+11],
       [1.40174293e+11, 1.40174293e+11]])

In [36]:
numpy.cov(ro.total_cases,ro.total_deaths)

array([[1.40174293e+11,            nan],
       [           nan,            nan]])

In [37]:
numpy.cov(ro.total_cases,ro.total_deaths)

array([[1.40174293e+11,            nan],
       [           nan,            nan]])

In [38]:
numpy.cov(ro.total_cases,ro.total_deaths,bias=True)[0][1]

nan

In [39]:
numpy.stdev(ro.total_cases/ro.total_deaths)

AttributeError: module 'numpy' has no attribute 'stdev'

In [ ]:
ro.cov()

In [ ]:
ro.corr(method='pearson')

In [ ]:
world=df.corr(method='pearson')

In [ ]:
world

In [ ]:
out=ro.corr(method='pearson')

In [ ]:
out

In [ ]:
out.to_csv(r'C:\Users\stefan.bobeica2501\Desktop\DATA_m3')

In [ ]:
import csv

In [ ]:
out.to_excel('corelatii.xlsx')

In [ ]:
out

In [ ]:
cov=ro.cov()

In [ ]:
cov

In [ ]:
cov.to_excel('covariatii.xlsx')

In [ ]:
ro.var

ro.var()

In [ ]:
x=ro.var()

In [ ]:
ro['male_smokers']

In [ ]:
ro.describe()

In [ ]:
ro.isnull().sum()

In [ ]:
import seaborn as sns

In [ ]:
eu=df[df.continent=='Europe']

In [ ]:
td=eu[eu.date== datetime(2021,5,15)]

In [41]:
plt.plot(ro.date,ro.people_fully_vaccinated/10**6)
plt.plot(ro.date,ro.total_cases/10**6)

#plt.axvspan(date2num(datetime(2021,3,15)), date2num(datetime(2021,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,3,15)), date2num(datetime(2020,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,11,5)), date2num(datetime(2020,12,5)), label="Lockdown",color="lightblue", alpha=0.3)
plt.legend(['Oameni Imunizati','Cazuri totale'])
plt.title('Imunizati vs Infectati')
plt.xlabel('Lună')
plt.ylabel('Număr(milioabe)')
sns.set_theme()


plt.tight_layout()
plt.show()
sns.set(rc={'figure.figsize':(10.7,6.27)})

In [ ]:
tara=df[df.location=='India']


plt.plot(tara.date,tara.new_cases_smoothed)


#plt.axvspan(date2num(datetime(2021,3,15)), date2num(datetime(2021,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,3,15)), date2num(datetime(2020,5,15)), label="Lockdown",color="lightblue", alpha=0.3)
#plt.axvspan(date2num(datetime(2020,11,5)), date2num(datetime(2020,12,5)), label="Lockdown",color="lightblue", alpha=0.3)
plt.legend(['Cazuri zilnice'])
plt.title('Cazuri zilnice in timp')
plt.xlabel('Lună')
plt.ylabel('Număr')
sns.set_theme()


plt.tight_layout()
plt.show()
sns.set(rc={'figure.figsize':(10.7,6.27)})